version: 2.1

jobs:
  build:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      - run: ./runme.sh
      - store_artifacts:
          path: result.txt

workflows:
  build_and_test:
    jobs:
      - build
